body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
model-viewer {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
}

.headline {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 100px;
  position: fixed;
  color: blue;
}

.b-i {
  background-image: url('./raster.webp');
  background-size: cover;
  width: 100vh;
  height: 100vh;
}

@keyframes colorChange {
            0% {
                color: blue;
            }
            50% {
                color: pink;
            }
            100% {
                color: blue;
            }
        }

.color-change {
            animation: colorChange 5s infinite;
        }

        .blur-text {
           transition: filter 0.3s ease;
       }

       .blur-text:hover {
           filter: blur(5px);
       }


       /* Basisstil für alle Links */
a {
    color: black; /* Textfarbe */
    text-decoration: none; /* Entfernt die Unterstreichung */
    transition: color 0.5s ease; /* Übergangseffekt für die Farbe */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100px;
}

/* Stil für Links beim Hover */
a:hover {
    color: #1f1f1f; /* Ändert die Textfarbe beim Hover */
    text-decoration: none;
}

/* Stil für aktive Links */
a:active {
    color: green; /* Ändert die Textfarbe, wenn der Link aktiv ist */
}

/* Stil für besuchte Links */
a:visited {
    color: black; /* Ändert die Textfarbe für besuchte Links */
}
